
/* 整体搜索区域 */
#forExact,#forFuzzy{
    margin: auto;
    display: none;
}
/* 精确搜索表单 */
#forExact{
    display: flex;
    overflow: hidden;
    margin: 80px auto;
    width: 460px;height: 60px;
    border:2px solid #66ccb8;
    border-radius: 30px;
    background-color: #FFF;
}
/* 书号搜索框 */
#bookID{
    display: block;
    width: 400px;height: 60px;
    font: 20px/60px "Microsoft YaHei",sans-serif;
    padding-left: 20px;
    border: none;
    outline: none;
}
/* 设置占位符文字大小 */
::-webkit-input-placeholder { font-size: 20px;}
::-moz-placeholder { font-size: 20px;} /* firefox 19+ */
:-ms-input-placeholder {font-size: 20px;} /* Internet Explorer 10+ */
:-moz-placeholder { font-size: 20px; } /* firefox 14-18 */
#forExact>label{
    display: block;
    width: 60px;
    height: 60px;
    font: 20px/60px "Microsoft YaHei",sans-serif;
    text-align: center;
    background-color: #FFF;
    margin:0 auto;
    cursor: pointer;
}
#forExact>label:hover,#forFuzzy>label:hover{
    color: #66ccb8;
}

#forFuzzy{
    width: 400px;
    flex-direction:column;
    overflow: hidden;
    margin-bottom: 30px;
    border:3px solid #66ccb8;
    border-radius: 10px;
    background-color: #fff;
}
#forFuzzy input,#forFuzzy label{
    display: block;
    height: 60px;
    font: 20px/60px "Microsoft YaHei",sans-serif;
    padding-left: 20px;
    border: none;
    outline: none;
}
#forFuzzy>label{
    background-color: #fff;
    text-align: center;
    padding: 0;
    cursor: pointer;
}
